In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Generate two random arrays using NumPy
array1 = np.random.rand(10)
array2 = np.random.rand(10)

print(f"Array1: {array1}")
print(f"Array2: {array2}")

Array1: [0.32951691 0.18326118 0.81589621 0.01866459 0.56475015 0.03081094
 0.01776297 0.48054845 0.63214226 0.91463731]
Array2: [0.95969488 0.160534   0.04584518 0.37892297 0.28099923 0.34979159
 0.16556528 0.28579065 0.94019587 0.79933174]

In [5]:
mean_array1 = np.mean(array1)
mean_array2 = np.mean(array2)

In [6]:
print(f"Mean of array1: {mean_array1}")
print(f"Mean of array2: {mean_array2}")
cov_value_manual = np.sum((array1 - mean_array1) * (array2 - mean_array2)) / (len(array1) - 1)
print(f"Manually Calculated Covariance: {cov_value_manual}")

Mean of array1: 0.3987990964183857
Mean of array2: 0.4366671388117009
Manually Calculated Covariance: 0.03154368928391223

In [7]:
#chi square test
contingency_table = np.random.randint(1, 10, size=(2, 2))
print(f"Contingency Table:\n{contingency_table}")

Contingency Table:
[[6 8]
 [1 1]]

In [8]:
row_sums = np.sum(contingency_table, axis=1)
col_sums = np.sum(contingency_table, axis=0)
total_sum = np.sum(contingency_table)
print(f"Row Sums: {row_sums}")
print(f"Column Sums: {col_sums}")
print(f"Total Sum: {total_sum}")

Row Sums: [14  2]
Column Sums: [7 9]
Total Sum: 16

In [9]:

# Calculate expected values
expected_table = np.outer(row_sums, col_sums) / total_sum
print(f"Expected Values Table:\n{expected_table}")

Expected Values Table:
[[6.125 7.875]
 [0.875 1.125]]

In [10]:

#  Calculate Chi-Square value
chi2_cal = np.sum((contingency_table - expected_table) ** 2 / expected_table)
print(f"Calculated Chi-Square Statistic: {chi2_cal}")

Calculated Chi-Square Statistic: 0.03628117913832199

In [11]:

# Critical value for Chi-Square at a 0.05 significance level and 1 degree of freedom
from scipy.stats import chi2
chi2_table = chi2.ppf(0.95, df=1)  # df=1 for a 2x2 table
print(f"Critical Value at 0.05 signifficance level: {chi2_table}")

Critical Value at 0.05 signifficance level: 3.841458820694124

In [12]:
#comparision of the calculated and table chi square value
if chi2_cal > chi2_table:
    print("Reject the null hypothesis (There is a significant association).")
else:
    print("Fail to reject the null hypothesis (No significant association).")

Fail to reject the null hypothesis (No significant association).

In [13]:
#Using a provided dataset, perform chi square test and covariance calculation of any two columns to assess their association.
import pandas as pd
df = pd.read_csv('loan_data.csv')
df = df.dropna()
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [16]:
def get_chi_square_value(observed_table, significance_level=0.05):

    chi2, p, dof, expected = stats.chi2_contingency(observed_table)
    critical_value = stats.chi2.ppf(1 - significance_level, dof)
    return critical_value

# Critical value for Chi-Square at a 0.05 significance level and 1 degree of freedom
chi2_table = get_chi_square_value(contingency_table , significance_level = 0.05)
print(f"Critical Value at 0.05 signifficance level: {chi2_table}")

Critical Value at 0.05 signifficance level: 3.841458820694124

In [17]:
#comparision of the calculated and table chi square value
if chi2_cal > chi2_table:
    print("Reject the null hypothesis (There is a significant association).")
else:
    print("Fail to reject the null hypothesis (No significant association).")

Fail to reject the null hypothesis (No significant association).